<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="HmacKey" value="PJSpVVNsxqbYKLyn2/3eYg==" />
		<add key="UploadPath" value="~/upload" />
		<add key="AllowedExtensions" value=".gif|.jpg|.jpeg|.png" />
		<add key="AllowedMimeTypes" value="image/gif|image/jpeg|image/png" />
		<add key="MaxFileSize" value="65536" />
		<add key="MaxSubjectLength" value="64" />
		<add key="MaxMessageLength" value="256" />
		<add key="MaxImageFilenameLength" value="64" />
		<add key="MaxImageWidth" value="4096" />
		<add key="MaxImageHeight" value="4096" />
		<add key="DelayBeforeNextMessageToAdminSec" value="60" />
		<add key="DelayBeforeNextMessageToUserSec" value="1" />
		<add key="Admin" value="d69e5ccddeed4c2a85fceea286e521fe" />
		<add key="BasicAuthHashPrefix" value="web:300" />
		<add key="BasicAuthHashSalt" value="+Vse_Chto_Ugodno+" />
		<add key="LocalIPs" value="127.0.0.1|172.16.16.6|172.16.16.16" />
		<!--d69e5ccddeed4c2a85fceea286e521fe376433c7e27487f0538598dc27d868ff-->
	</appSettings>
	<connectionStrings>
		<add name="main" connectionString="Data Source=(local);Initial Catalog=mssngrrr;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.webServer>
		<handlers>
			<clear />
			<add name="Upload" verb="POST" path="Upload.ashx" type="mssngrrr.Upload, mssngrrr" />
			<add name="SaveMsg" verb="POST" path="SaveMsg.ashx" type="mssngrrr.SaveMsg, mssngrrr" />
			<add name="SendCspReport" verb="POST" path="SendCspReport.ashx" type="mssngrrr.SendCspReport, mssngrrr" />
			<add name="AspxFile" path="*.aspx" verb="GET,HEAD,POST" type="System.Web.UI.PageHandlerFactory" requireAccess="Script" />
			<add name="StaticFile" path="*.*" verb="GET,HEAD,POST" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
			<add name="StaticDirectory" path="*" verb="GET,HEAD,POST" type="System.Web.HttpNotFoundHandler" resourceType="Directory" />
		</handlers>
		<modules>
			<add name="AuthModule" type="mssngrrr.AuthModule" />
			<add name="UrlMappings" type="System.Web.UrlMappingsModule" />
		</modules>
		<security>
			<requestFiltering>
				<verbs allowUnlisted="false">
					<add verb="GET" allowed="true" />
					<add verb="HEAD" allowed="true" />
					<add verb="POST" allowed="true" />
				</verbs>
				<fileExtensions allowUnlisted="false">
					<clear />
					<add fileExtension=".dll" allowed="false" />
					<add fileExtension=".pdb" allowed="false" />
					<add fileExtension=".config" allowed="false" />
					<add fileExtension=".ascx" allowed="false" />
					<add fileExtension=".master" allowed="false" />
					<add fileExtension="." allowed="true" />
					<add fileExtension=".aspx" allowed="true" />
					<add fileExtension=".ashx" allowed="true" />
					<add fileExtension=".html" allowed="true" />
					<add fileExtension=".css" allowed="true" />
					<add fileExtension=".js" allowed="true" />
					<add fileExtension=".txt" allowed="true" />
					<add fileExtension=".png" allowed="true" />
					<add fileExtension=".gif" allowed="true" />
					<add fileExtension=".jpg" allowed="true" />
					<add fileExtension=".ico" allowed="true" />
				</fileExtensions>
				<hiddenSegments>
					<clear />
					<add segment="bin" />
					<add segment="web.config" />
					<add segment="logs" />
				</hiddenSegments>
			</requestFiltering>
		</security>
		<httpErrors errorMode="Custom" defaultResponseMode="File" existingResponse="Auto">
			<remove statusCode="401" />
			<error statusCode="401" path="errors\401.html" />
			<remove statusCode="404" />
			<error statusCode="404" path="errors\404.html" />
			<remove statusCode="500" />
			<error statusCode="500" path="errors\500.html" />
			<remove statusCode="503" />
			<error statusCode="503" path="errors\503.html" />
		</httpErrors>
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<location path="static">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="672:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<system.web>
		<customErrors mode="On" />
		<sessionState mode="Off" />
		<trace enabled="false" pageOutput="false" />
		<compilation debug="false" targetFramework="4.5" />
		<pages viewStateEncryptionMode="Never" enableViewState="false" enableViewStateMac="false" validateRequest="false" />
		<httpRuntime targetFramework="4.5" requestValidationMode="2.0" enableVersionHeader="false" enableHeaderChecking="true" executionTimeout="10" maxRequestLength="128" requestLengthDiskThreshold="128" />
		<identity impersonate="false" />
		<urlMappings enabled="true">
			<add url="~/" mappedUrl="~/Default.aspx" />
			<add url="~/messages" mappedUrl="~/Messages.aspx" />
			<add url="~/preview" mappedUrl="~/Preview.aspx" />
			<add url="~/upload" mappedUrl="~/Upload.ashx" />
			<add url="~/savemsg" mappedUrl="~/SaveMsg.ashx" />
			<add url="~/csp" mappedUrl="~/SendCspReport.ashx" />
		</urlMappings>
	</system.web>
</configuration>