<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="HmacKey" value="uwXqHTxD1tDkRxGclaiz7A==" />
		<add key="MaxEmailLength" value="64" />
		<add key="MaxPhoneLength" value="64" />
		<add key="MaxMessageLength" value="128" />
		<add key="MaxUserAgentLength" value="256" />
		<add key="DelayBeforeNextMessageSec" value="60" />
		<add key="BasicAuthHashPrefix" value="web:400" />
		<add key="BasicAuthHashSalt" value="+Vse_Chto_Ugodno+" />
		<add key="LocalIPs" value="127.0.0.1|172.16.16.3|172.16.16.15" />
		<add key="Flag" value="RUCTF_da965c127e954a5bb5d196d0ddfcb18b" />
	</appSettings>
	<connectionStrings>
		<add name="main" connectionString="Data Source=(local);Initial Catalog=irrsa;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.webServer>
		<handlers>
			<clear />
			<add name="Auth" verb="POST" path="Auth.ashx" type="irrsa.Auth, irrsa" />
			<add name="SaveMsg" verb="POST" path="SaveMsg.ashx" type="irrsa.SaveMsg, irrsa" />
			<add name="SendCspReport" verb="POST" path="SendCspReport.ashx" type="irrsa.SendCspReport, irrsa" />
			<add name="AspxFile" path="*.aspx" verb="GET,HEAD,POST" type="System.Web.UI.PageHandlerFactory" requireAccess="Script" />
			<add name="StaticFile" path="*.*" verb="GET,HEAD,POST" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
			<add name="StaticDirectory" path="*" verb="GET,HEAD,POST" type="System.Web.HttpNotFoundHandler" resourceType="Directory" />
		</handlers>
		<modules>
			<add name="AuthModule" type="irrsa.AuthModule" />
			<add name="UrlMappings" type="System.Web.UrlMappingsModule" />
		</modules>
		<security>
			<requestFiltering>
				<verbs allowUnlisted="false">
					<add verb="GET" allowed="true" />
					<add verb="HEAD" allowed="true" />
					<add verb="POST" allowed="true" />
				</verbs>
				<fileExtensions allowUnlisted="false">
					<clear />
					<add fileExtension=".dll" allowed="false" />
					<add fileExtension=".pdb" allowed="false" />
					<add fileExtension=".config" allowed="false" />
					<add fileExtension=".ascx" allowed="false" />
					<add fileExtension=".master" allowed="false" />
					<add fileExtension="." allowed="true" />
					<add fileExtension=".aspx" allowed="true" />
					<add fileExtension=".ashx" allowed="true" />
					<add fileExtension=".html" allowed="true" />
					<add fileExtension=".css" allowed="true" />
					<add fileExtension=".js" allowed="true" />
					<add fileExtension=".txt" allowed="true" />
					<add fileExtension=".png" allowed="true" />
					<add fileExtension=".gif" allowed="true" />
					<add fileExtension=".jpg" allowed="true" />
					<add fileExtension=".ico" allowed="true" />
				</fileExtensions>
				<hiddenSegments>
					<clear />
					<add segment="bin" />
					<add segment="web.config" />
					<add segment="logs" />
				</hiddenSegments>
			</requestFiltering>
		</security>
		<httpErrors errorMode="Custom" defaultResponseMode="File" existingResponse="Auto">
			<remove statusCode="401" />
			<error statusCode="401" path="errors\401.html" />
			<remove statusCode="404" />
			<error statusCode="404" path="errors\404.html" />
			<remove statusCode="500" />
			<error statusCode="500" path="errors\500.html" />
			<remove statusCode="503" />
			<error statusCode="503" path="errors\503.html" />
		</httpErrors>
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
			</files>
		</defaultDocument>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<location path="Static">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="672:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<system.web>
		<customErrors mode="On" />
		<sessionState mode="Off" />
		<trace enabled="false" pageOutput="false" />
		<compilation debug="false" targetFramework="4.5" />
		<pages viewStateEncryptionMode="Never" enableViewState="false" enableViewStateMac="false" validateRequest="false" />
		<httpRuntime targetFramework="4.5" requestValidationMode="2.0" enableVersionHeader="false" enableHeaderChecking="true" executionTimeout="10" maxRequestLength="4" requestLengthDiskThreshold="128" />
		<identity impersonate="false" />
		<urlMappings enabled="true">
			<add url="~/" mappedUrl="~/Default.aspx" />
			<add url="~/auth" mappedUrl="~/Auth.ashx" />
			<add url="~/login" mappedUrl="~/Login.aspx" />
			<add url="~/logout" mappedUrl="~/Login.aspx?logout=1" />
			<add url="~/topsecret" mappedUrl="~/Secret.aspx" />
			<add url="~/submit" mappedUrl="~/SaveMsg.ashx" />
			<add url="~/msglist" mappedUrl="~/MsgList.aspx" />
			<add url="~/msg" mappedUrl="~/Msg.aspx" />
			<add url="~/csp" mappedUrl="~/SendCspReport.ashx" />
		</urlMappings>
	</system.web>
</configuration>